// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.App {
  // border: 3px solid magenta;
}

.HeaderNav {
  // border: 2px solid green;
}

.SignInForm {
  max-width: 80vw;
  margin: 0 auto;
}
